@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container-mapa {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
    min-height: calc(100vh - 85px);
    align-items: center;
  }
.container-mapa form{   
    height: 100%; 
    width: 30%; 
    padding: 2rem 3rem;
}


.informacion-mapa{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    padding: 2rem 0.5rem;
    gap: 2rem;
}


.stylelabel{
    display: block;
    min-height: 35px;
	cursor: pointer;  
}

.dato-mapa{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: .2rem;
}

.inputselect:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.datepicker{
    font-size: 18px;
    border: 3px solid transparent;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
    border-bottom: 1px solid #5757577E;
}
.container-mapa input{
    color: #697a8d;
    font-size: 18px;
    padding: 0.4375rem 0.875rem;
    transition: .3s ease all;
    border: none;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    min-height: 40px;
}
.container-mapa select{
    color: #697a8d;
    font-size: 18px;
    padding: 0.4375rem 0.875rem;
    transition: .3s ease all;
    border: none;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    min-height: 40px;
}
.mensaje_error{
    height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0px 15px;
	border-radius: 3px;
}

.mensaje_error p{
    margin: 0;
}
.mensaje_error b{
    margin-left: 10px;
}


.icono{
    padding-right: 10px;
}
#Acta{
    margin: 0 auto 0 40px;
}
