:root {
    --detail-blue: #3866F2;
}

@font-face {

    font-family: 'Helvetica-Nue';
    src: url(../../../assets/helvetica_neue/HelveticaNeueLTStdLt.otf);
    
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica-Nue',Arial;
}

.area-form {
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
}
.instructions_contacto {
    height: calc(80vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.9rem;
    color: #3866F2;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    margin: auto;
    width: 90%;
    max-width: 400px;
}


#area-mensaje {
    resize: none;
}

.form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form__title {
    font-size: 2rem;
    margin-bottom: .5em;
}

.form__paragraph {
    font-weight: 300;
}

.form__link {
    font-weight: 400;
    color: var(--detail-blue);
    text-decoration: none;
}

.form__container {
    margin-top: 3rem;
    display: grid;
    gap: 2.5rem;
}

.form__group {
    position: relative;
    --color: #5757577E;
}

.form__input {
    width: 100%;
    background: none;
    color: #706C6C;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}

.form__input:focus,
.form__input:not(:placeholder-shown) {
    color: #4D4646;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    transform: translateY(-12px) scale(.7);
    color: var(--detail-blue);
}

.form__label {
    color: var(--color);
    cursor: text;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transform-origin: left top;
    transition: transform .5s ease-in-out, color .3s ease-in;
}

.form__submit {
    background-color: var(--detail-blue);
    color: #FFF;
    font-family: 'Helvetica-Nue',Arial;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--detail-blue);
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform .4s;
}


.form__input:focus~.form__line,
.form__input:not(:placeholder-shown)~.form__line {
    transform: scale(1);
}

.mensaje-enviado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #45CB85;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    color: #fff;
    margin: 10px;
    padding: 10px;
}

.mensaje-enviado-oculto {
    display: none;
}

@media screen and (max-width:425px) {
    .form__title {
        font-size: 1.8rem;
    }
}