*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(158, 155, 155);
    
    
}
.area-form{
    display: flex;
    justify-content: center;
}

#form{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    background-color: white;
}
.form-group{
    width:80%;    
}

.form-element{
    margin: 2% 5% 10% 5%;
    background-color: white;
    text-align: center;
}

#top-form{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
}
#bottom-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
    background-color: white;
    box-sizing: border-box;
}
.input-group{
   height: 180%;
   width: 100%;
   border:rgb(207, 204, 204) solid 2px;
   text-align: center;
   box-sizing: border-box;
   font-size: larger;
   background-color: white;
}
label{
    width: 100%;
   text-align: center;
   box-sizing: border-box;
   font-size: larger;
   background-color: white;
   font-weight: semibold;
}
#area-mensaje{
    width: 90%;
    height: 200px;   
    align-items: center;
    font-size: 160%;
    text-align: center;
    padding-top: 4%;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 2%;
}

.enviar-button{
    height: 50px;
    width: 15%;
    border:rgb(207, 204, 204) solid 2px;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
    color: white;
    font-weight: bold;
    background-color: #20201B;
}

 h1{
     font-size: 250%;
     background-color: white;
     
 }
