*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(207, 204, 204);
}

#form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group{
    width:80%;
}

.form-element{
    margin: 5%;
}

#top-form{
    width: 100%;
    display: flex;
}
#bottom-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}