@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yantramanav:wght@500&display=swap');

#boleta{
    background-color: #fff;
    margin: 2cm 2cm 1cm 2cm;
  }
  
  p{
    padding: 0;
    margin-bottom: 20px;
  }

  h2{
      font-size: 18px;
  }
  h3{
    margin-top: 1cm;
  }
  
  .datos1{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 1cm;
  }
 
  #logo{
    width: 100px;
    height: 100px; 
  }
  .titular{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto 1cm auto;
  }
  #datostitular{
    border-style: solid;
    border-color: #201e1e;
    border-radius:1rem;
    padding: 10px 200px 0 10px;
    padding-right: 200px;
  }

  #clave{
    border-style: solid;
    border-radius: 1rem;
    border-color: #201e1e;
    text-align: center;
    padding: 8px 10px 0 160px;
  }
  .responsable2{
      text-align: left;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 14px;
      margin: 0 200px 30px 200px;
      padding: 10px 0 0 10px;
      border-style: solid;
      border-radius: 1rem;
      border-color: #201e1e;
  }
  h3{
      margin: 0 200px 30px 200px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
  }
  .informacionfosa{
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 200px 50px 200px;
    border-style: solid;
    border-radius: 1rem;
    border-color: #201e1e;
  }
  .informacionfosa p{
    margin: 0;
    padding: 8px 0 5px 0;
  }
  .informacionfosa2{
    display: flex;
    justify-content: space-around;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0cm 0cm 2cm 2cm;
    width: 90%;
  }

  .datosfosa{
      text-align: left;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      padding: 10px 100px 0 10px;
      border-style: solid;
      border-radius: 1rem;
      border-color: #201e1e;
      margin-right: 1cm;
  }
  .datosfosa2{
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px 100px 0 10px;
    border-style: solid;
    border-radius: 1rem;
    border-color: #201e1e;
}
  .tabladatos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 750px;
    border-style: solid;
    border-radius: 1rem;
    margin: 0 auto 50px auto;
    padding: 10px;
    margin-bottom: 50px;
  }
  .fila{
    background: #423F3E;
  }
  .filainfo{
    background-color: #EEEEEE;
  }

  .encabezados{
    color: #000;
    font-weight: 200;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #383838;
  }
  .columnafecha{
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #383838;
  }
  .columna{
    background-color: #EEEEEE;
  }
  h2{
      font-family: Arial, Helvetica, sans-serif;
     
  }