@import url('https://fonts.googleapis.com/css2?family=Lato&family=Yantramanav:wght@500&display=swap');

#boleta{
    background-color: #fff;
    margin: 1.5cm 2cm 1cm 1cm;
  }
  
  p{
    padding: 0;
    margin-bottom: 20px;
  }

  #boleta h2{
      font-size: 18px;
      margin-bottom: 30px;
  }
  
  .datos1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
  .titulos{
    margin-left: 1.5cm;
    margin-right: 0.5cm;
  }
  #Tboleta{
    
    font-size: 18px;
  }
  #Sboleta{
    font-size: 14px;
  }
  #logo{
    width: 120px;
    height: 120px; 
  }
  .titular{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0 0 1cm 1.5cm;
  }

  #datostitular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-style: solid;
    border-color: #201e1e;
    border-radius:1rem;
    padding: 10px 80px 10px 10px;
    margin-right: 20px;
  }

  #clave{
    border-style: solid;
    border-radius: 1rem;
    border-color: #201e1e;
    text-align: center;
    margin-top: 45px;
    padding: 8px 20px 0 30px;
  }

  .responsable2{
      text-align: left;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      font-size: 14px;
      margin: 1cm 0cm 1cm 1.5cm;
      padding: 10px 0px 0px 10px;
      border-style: solid;
      border-radius: 1rem;
      border-color: #201e1e;
  }
  #Tfosa{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      margin: 0cm 0cm 1cm 1.7cm;
  }

  .informacionfosa{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    border-style: solid;
    border-radius: 0.8rem;
    border-color: #201e1e;
    margin: 0cm 0cm 1cm 1.5cm;
  }

  .informacionfosa p{
    margin: 0;
    padding: 10px 0px 5px 0px;
  }

  .informacionfosa2{
    display: flex;
    justify-content: space-evenly;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0cm 0cm 1cm 1.5cm;
  } 

  .datosfosa{
      text-align: center;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      padding-top: 10px;
      border-style: solid;
      border-radius: 1rem;
      border-color: #201e1e;
      margin-right: 10px;
      width: 15rem;
  }
  .datosfosa2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    padding: 10px 0px 0px 10px;
    font-weight: 500;
    border-style: solid;
    border-radius: 1rem;
    border-color: #201e1e;
}

#Ultimapersona{
  padding: 0px 20px 0px 20px;
}
#adeudos{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 1cm 1.7cm;
}
  .tabladatos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 750px;
    border-style: solid;
    border-radius: 1.5rem;
    margin-left: 1.5cm;
    padding: 10px;
    width: 92%;
  }
  .fila{
    background: #423F3E;
  }
  .filainfo{
    background-color: #EEEEEE;
  }

  .encabezados{
    color: #000;
    font-weight: 200;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #383838;
  }
  .columnafecha{
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #383838;
  }
  .columna{
    background-color: #EEEEEE;
  }
  h2{
      font-family: Arial, Helvetica, sans-serif;
     
  }