@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-infopago{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
    min-height: calc(100vh - 85px);
}

.instrutions-infopago{
    height: calc(80vh - 50px);
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
    font-size: 1.3rem;
    padding: 30px;
    background-color: rgb(170, 170, 170);
    /* border-radius: 10px; */
    /* box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%); */
    margin-left: auto;
    max-width: 400px;
}

.instrutions-infopago h2{
    font-size: 1.6rem;
    margin-bottom: 30px;
}


.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    background-color: #fff;
    width: 800px;
    height: calc(80vh - 50px);
    min-height: 250px;
    /* border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%); */
}


.stylelabel{
    display: block;
	font-weight: 500;
    min-height: 35px;
	cursor: pointer;  
}


.container-infopago input::placeholder {
    font-size: 1rem;
  }

.datepicker{
    font-size: 18px;
    border: 3px solid transparent;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
    border-bottom: 1px solid #5757577E;
}
.container-infopago input{
    color: #697a8d;
    font-size: 18px;
    padding: 0.4375rem 0.875rem;
    transition: .3s ease all;
    border: none;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    min-height: 40px
}
.container-infopago select{
    color: #697a8d;
    font-size: 18px;
    padding: 0.4375rem 0.875rem;
    transition: .3s ease all;
    border: none;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    min-height: 40px
}
.container-infopago.input:disabled {
    background: rgb(235,235,228);
}
.mensaje_error{
    height: auto;
	line-height: auto;
	background: #F66060;
	padding: 0px 15px;
	border-radius: 3px;
    margin-bottom: 10px;
}

.mensaje_error p{
    margin: 0;
}
.mensaje_error b{
    margin-left: 10px;
}

.generador{
    display: flex;
    justify-content: center;
}

.icono{
    padding-right: 10px;
}
#Acta{
    margin: 0 auto 0 40px;
}

.vistacotenedor{
    background: #fff;
    border: 1px solid white; /*Revisar porque sin esto deja un espacio en blanco*/
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
}
.vista{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

