@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-infopago{
    width: 100vw;
    height: calc(100vh - 85px);
    border: 1px solid white; /*Revisar porque sin esto deja un espacio en blanco*/
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instrutions-infopago{
    height: calc(70vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #3866F2;
    text-align: center;
    font-size: 1.3rem;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    margin-left: auto;
    margin-right: 100px;
    max-width: 400px;
}

.instrutions-infopago h2{
    font-size: 1.6rem;
    margin-bottom: 30px;
}


.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    background-color: #fff;
    width: 800px;
    height: calc(70vh - 85px);
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

#name{
    text-align: center;
    font-weight: 100;
    font-display: swap;
}

.stylelabel{
    display: block;
	font-weight: 500;
    min-height: 35px;
	cursor: pointer;  
}
#labelcuartel{
    padding-right:180px;
}
#labelclase{
    padding-right: 190px;
}
#labelfosa{
    margin-right: 170px;
}
#labelote{
    margin-right: 170px;
}

.dato{
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    display: flex;
    justify-content: space-around;
    background:transparent;
}

.inputselect{
    width: 200px;
	background: #fff;
	border-radius: 3px;
	height: 35px;
	line-height: 35px;
	padding: 0 40px 0 20px;
	transition: .3s ease all;
    text-align: center;
	border: 3px solid transparent;
    font-size: 15px;
}
.inputselect:focus{
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.inputselect:disabled{
    background: rgb(235,235,228);
}

input::placeholder {
    font-size: 1rem;
  }
#pago{
    padding-right: 90px;
}
#fosa{
    padding-right: 90px;
}
#fechaPago{
    padding-right: 90px;
}
.datepicker{
    font-size: 18px;
    border: 3px solid transparent;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
    border-bottom: 1px solid #5757577E;
}
.input{
    color: #706C6C;
    font-size: 18px;
    /*Eliminar para coincidir con el formato
     border: 3px solid transparent; */
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
    border: none;
    text-align: center;
    border-bottom: 1px solid #5757577E;
}
.input:disabled {
    background: rgb(235,235,228);
}
.mensaje_error{
    height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0px 15px;
	border-radius: 3px;
}

.mensaje_error p{
    margin: 0;
}
.mensaje_error b{
    margin-left: 10px;
}

/* .input:focus,
.input:not(:placeholder-shown) {
    color: #4D4646;
} */

/* .input:focus{
    border: 1px solid #04293A;
} */
.generador{
    display: flex;
    justify-content: center;
}
#boton{
    margin-right: 80px;
    background-color: var(--detail-blue);
}

.icono{
    padding-right: 10px;
}
#Acta{
    margin: 0 auto 0 40px;
}

.vistacotenedor{
    background: #fff;
    border: 1px solid white; /*Revisar porque sin esto deja un espacio en blanco*/
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
}
.vista{
    width: 800px;
    margin: auto;
    background-color: #fff;
}

