@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: calc(100vh - 85px);
    border: 1px solid white; /*Revisar porque sin esto deja un espacio en blanco*/
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion{
    display: flex;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin: 100px auto 0 auto; */
    margin: auto;
    background-color: #fff;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    /* margin-bottom: 50px; */
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
}

#name{
    text-align: center;
    font-weight: 100;
    font-display: swap;
}
.dato{
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    display: flex;
    justify-content: space-around;
    background:transparent;
}
input::placeholder {
    font-size: 1rem;
  }
#pago{
    padding-right: 90px;
}
#fosa{
    padding-right: 90px;
}
#fechaPago{
    padding-right: 90px;
}
.datepicker{
    font-size: 18px;
    border: 3px solid transparent;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
    border-bottom: 1px solid #5757577E;
}
.input{
    color: #706C6C;
    font-size: 18px;
    /*Eliminar para coincidir con el formato
     border: 3px solid transparent; */
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
    border: none;
    border-bottom: 1px solid #5757577E;
}

/* .input:focus,
.input:not(:placeholder-shown) {
    color: #4D4646;
} */

/* .input:focus{
    border: 1px solid #04293A;
} */
.generador{
    display: flex;
    justify-content: center;
}
#boton{
    margin-right: 80px;
    background-color: var(--detail-blue);
}

.icono{
    padding-right: 10px;
}
#Acta{
    margin: 0 auto 0 40px;
}
