@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto+Serif:wght@500&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #3D3737;
}

.informacion{
    display: flex;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto 0 auto;
    background: #F6F2F1;
    width: 800px;
    height: 400px;
    border-radius: 1rem;
    margin-bottom: 50px;
}
#name{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-display: swap;
}
.dato{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align:left;
    display: flex;
    justify-content: space-around;
}
input::placeholder {
    font-size: 1rem;
  }
#pago{
    padding-right: 80px;
}
#fosa{
    padding-right: 90px;
}
#fechaPago{
    padding-right: 90px;
}

.datepicker{
    font-size: 18px;
    border: 3px solid transparent;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
}
.input{
    font-size: 18px;
    border: 3px solid transparent;
    height: 30px;
    line-height: 30px;
    padding: 0 20px 0 10px;
    transition: .3s ease all;
}
.input:focus{
    border: 3px solid #04293A;
}

.generador{
    display: flex;
    justify-content: center;
}
.boton{
    font-size: 18px;
    color: #Fff;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: #1A1A40;
    padding: 0 20px;
    width: 100%;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    border-radius: 3px;
}
button{
    border: none;
    background: transparent;
}

.icono{
    padding-right: 10px;
}
#Acta{
    margin: 0 auto 0 40px;
}
