@font-face {

  font-family: 'Helvetica-Nue';
  src: url(../../../assets/helvetica_neue/HelveticaNeueLTStdLt.otf);
  
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica-Nue',Arial;
}




.instructions_servicios {
  height: calc(80vh - 85px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  color: #3866F2;
  font-weight: bold;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  margin-left: auto;
  margin-right: 100px;
  width: 50%;
  max-width: 18%;
  font-size: 1.2rem;
  padding: 40px;
  overflow-x: hidden;
}

.instructions_servicios li{
  list-style: decimal;
  margin-bottom: 10px;
}

#Page{
    
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: #e5e5f7;
    background-image: radial-gradient(#6e7b86 0.75px, #f7f7ff 0.75px);
    background-size: 15px 15px;
}
h1{
    text-align: center;
}
#Servicios{
    width: 50%;
    height: calc(80vh - 85px);
    margin-top: 1%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 50%);
    overflow-y: scroll;
    margin-right: auto;
    padding: 30px;
}

.rg-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 1em 1.5em;
    color: #222;
    
  }
  .rg-header {
    margin-bottom: 1em;
    text-align: left;
  }
  
  .rg-header > * {
    display: block;
  }
  .rg-hed {
    font-weight: bold;
    font-size: 1.4em;
  }
  .rg-dek {
    font-size: 1em;
  }
  
  .rg-source {
    margin: 0;
    font-size: 0.75em;
    text-align: right;
  }
  .rg-source .pre-colon {
    text-transform: uppercase;
  }
  
  .rg-source .post-colon {
    font-weight: bold;
  }
  
  /* table */
  table.rg-table {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table.rg-table tr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
    color: #333;
  }
  table.rg-table thead {
    border-bottom: 3px solid #ddd;
  }
  table.rg-table tr {
    border-bottom: 1px solid #ddd;
    color: #222;
  }
  table.rg-table tr.highlight {
    background-color: #dcf1f0 !important;
  }
  table.rg-table.zebra tr:nth-child(even) {
    background-color: #f6f6f6;
  }
  table.rg-table th {
    font-weight: bold;
    padding: 0.35em;
    font-size: 0.9em;
  }
  table.rg-table td {
    padding: 0.35em;
    font-size: 0.9em;
  }
  table.rg-table .highlight td {
    font-weight: bold;
  }
  table.rg-table th.number,
  td.number {
    text-align: right;
  }
  
  /* media queries */
  @media screen and (max-width: 600px) {
    .rg-container {
      max-width: 600px;
      margin: 0 auto;
    }
    table.rg-table {
      width: 100%;
    }
    table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
      display: none;
    }
    table.rg-table thead {
      display: none;
    }
    table.rg-table tbody {
      width: 100%;
    }
    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
      display: block;
      padding: 0;
    }
    table.rg-table tr {
      border-bottom: none;
      margin: 0 0 1em 0;
      padding: 0.5em;
    }
    table.rg-table tr.highlight {
      background-color: inherit !important;
    }
    table.rg-table.zebra tr:nth-child(even) {
      background-color: transparent;
    }
    table.rg-table.zebra td:nth-child(even) {
      background-color: #f6f6f6;
    }
    table.rg-table tr:nth-child(even) {
      background-color: transparent;
    }
    table.rg-table td {
      padding: 0.5em 0 0.25em 0;
      border-bottom: 1px dotted #ccc;
      text-align: right;
    }
    table.rg-table td[data-title]:before {
      content: attr(data-title);
      font-weight: bold;
      display: inline-block;
      content: attr(data-title);
      float: left;
      margin-right: 0.5em;
      font-size: 0.95em;
    }
    table.rg-table td:last-child {
      padding-right: 0;
      border-bottom: 2px solid #ccc;
    }
    table.rg-table td:empty {
      display: none;
    }
    table.rg-table .highlight td {
      background-color: inherit;
      font-weight: normal;
    }
  }
  