.app > *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MuiInputBase-input{
    font-family: 'Times New Roman', Times, serif;
}

.MuiTableCell-root > div{
    justify-content: center;
}

.MTableToolbar-title-9 > h6{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
