<!DOCTYPE html>
<html style="height: 100%; margin: 0;">
    <head>
        <title>Mapa Ejemplo</title>
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <link rel="stylesheet" href="scripts/leaflet/leaflet.css">
        <script src="scripts/leaflet/leaflet.js"></script>
    </head>
    <body style="height: 100%; margin: 0;">
        <div id="map" style="width: 100%; height: 100%; background: #FFFFFF; margin: 0;"></div>
        <script>
            // Variables
            const mapSW = [0, 4020], mapNE = [4096, 76];

            // Declarar el objeto mapa
            const map = L.map('map').setView([0, 0], 1);
            
            // Referenciar los tiles
            L.tileLayer('mapas/MapaEjemplo/{z}/{x}/{y}.png', {
                minZoom: 1,
                maxZoom: 4,
                continuousWorld: false,
                noWrap: true,
                crs: L.CRS.Simple
            }).addTo(map);

            map.setMaxBounds(new L.LatLngBounds(
                map.unproject(mapSW, map.getMaxZoom()),
                map.unproject(mapNE, map.getMaxZoom())
            ));

            // Íconos
            var capIcon = L.icon({
                iconUrl: 'images/marker-castle.png',
                iconSize: [42, 42],
                iconAnchor: [21, 41],
                popupAnchor: [0, -40],
                shadowUrl: 'scripts/leaflet/images/marker-shadow.png',
                shadowSize: [41, 41],
                shadowAnchor: [0, 40]
            });

            // Marcadores y pop-ups
            const marker = L.marker([80, -160], {
                draggable: true,
            }).addTo(map).bindPopup('<b>Marcador de prueba</b>').openPopup();

            marker.on('dragend', function(e) {
                marker.getPopup().setContent('Coordenadas en ' + marker.getLatLng().toString() + '<br />'
                + 'Pixeles en ' + map.project(marker.getLatLng(), map.getMaxZoom().toString())
                ).openOn(map);
            });

            const cap_marker_kl = L.marker([26.5, 58.0], {icon: capIcon}).bindPopup("<b>King's Landing</b><br>Capital de Westeros");
            const cap_marker_hg = L.marker([-45.8, -73.8], {icon: capIcon}).bindPopup("<b>Highgarden</b><br>Casa Tyrell");
            const cap_marker_cr = L.marker([52.6, -95.1], {icon: capIcon}).bindPopup("<b>Casterly Rock</b><br>Casa Lannister");
            const cap_marker_ss = L.marker([-81.4, 156.4], {icon: capIcon}).bindPopup("<b>Sunspear</b><br>Casa Martell");
            const cap_marker_rr = L.marker([75.8, -19.0], {icon: capIcon}).bindPopup("<b>Riverrun</b><br>Casa Tully");

            const pob_marker_hh = L.marker([69.0, 39.5]).bindPopup("<b>Harrenhall</b>");
            const pob_marker_gg = L.marker([-1.5, -47.2]).bindPopup("<b>Goldengrove</b>");
            const pob_marker_cn = L.marker([-48.6, 99.8]).bindPopup("<b>Crow's Nest</b>");

            // Grupos de capas
            const lg_cap = L.layerGroup([cap_marker_kl, cap_marker_hg, cap_marker_cr, cap_marker_ss, cap_marker_rr]).addTo(map);
            const lg_pob = L.layerGroup([pob_marker_hh, pob_marker_gg, pob_marker_cn]).addTo(map);

            const overlays = {
                "Capitales": lg_cap,
                "Poblados": lg_pob
            }

            // Agregar control de capas
            L.control.layers(null, overlays).addTo(map);
        </script>
    </body>
</html>